{
  "presets": ["react-app"],
  "plugins": [
    "babel-plugin-styled-components",
    ["react-intl-auto", {
      "removePrefix": "src.ui.components"
    }],
    ["react-intl", {
      "messagesDir": "./build/messages/"
    }]
  ]
}
